<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rarbarian_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,91}</string>
                <key>spriteSourceSize</key>
                <string>{66,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rarbarian_move.png</string>
            <key>size</key>
            <string>{66,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:743d578544e1783555931a7f117c7d35:52f6e729fc9f7a682c2e052cc2ebe880:752451e6b2e97e802421da70cf0c095e$</string>
            <key>textureFileName</key>
            <string>rarbarian_move.png</string>
        </dict>
    </dict>
</plist>
