<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rarbarian_die_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,91}</string>
                <key>spriteSourceSize</key>
                <string>{66,91}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rarbarian_die.png</string>
            <key>size</key>
            <string>{66,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27b57989ab00e123e768b00529f63e6e:52f6e729fc9f7a682c2e052cc2ebe880:1d350d5655b924b4fc0d84007757ea85$</string>
            <key>textureFileName</key>
            <string>rarbarian_die.png</string>
        </dict>
    </dict>
</plist>
