<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rarbarian_idle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,81}</string>
                <key>spriteSourceSize</key>
                <string>{44,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{44,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rarbarian_idle_01.png</string>
            <key>size</key>
            <string>{44,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2920abf00fa20ba688e1becba8cbf95:762d81e83963b3778068d085d1c174ae:c74fe870bd1ab574c824a3f3d7e84e5d$</string>
            <key>textureFileName</key>
            <string>rarbarian_idle_01.png</string>
        </dict>
    </dict>
</plist>
