<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rarbarian_move_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,95}</string>
                <key>spriteSourceSize</key>
                <string>{68,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{68,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rarbarian_move_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,91}</string>
                <key>spriteSourceSize</key>
                <string>{67,91}</string>
                <key>textureRect</key>
                <string>{{68,0},{67,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rarbarian_move_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,83}</string>
                <key>spriteSourceSize</key>
                <string>{53,83}</string>
                <key>textureRect</key>
                <string>{{135,0},{53,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rarbarian_move.png</string>
            <key>size</key>
            <string>{188,95}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e6bd752c81d4a91951a49d5026d551:a59d39fa91c13d69a781b648eb283227:97bff7b43d80b90e01492d7f218f3e67$</string>
            <key>textureFileName</key>
            <string>rarbarian_move.png</string>
        </dict>
    </dict>
</plist>
