<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rarbarian_attack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,68}</string>
                <key>spriteSourceSize</key>
                <string>{72,68}</string>
                <key>textureRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rarbarian_attack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{0,68},{79,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rarbarian_attack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,76}</string>
                <key>spriteSourceSize</key>
                <string>{69,76}</string>
                <key>textureRect</key>
                <string>{{0,179},{69,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rarbarian_attack.png</string>
            <key>size</key>
            <string>{79,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1eadb88be2e09b66f5f3291cc204a39:90f1bcac32bce4f7a30e4fdc18f7c73a:2eddcddfac280d5a0a0c37019fa6435f$</string>
            <key>textureFileName</key>
            <string>rarbarian_attack.png</string>
        </dict>
    </dict>
</plist>
